{% extends "admin/base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

<!-- Benefits of the Django application -->
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Direct Chat</h3>

                </div>
                <div class="box-body">

                    <div class="direct-chat-messages">
                        <!-- Message. Default to the left -->
                        {% for data in datas%}
                        {% if data.user == show_user %}

                            <!--self chat -->
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-right">{{data.user.name}}</span>
                                    <span class="direct-chat-timestamp pull-left">{{data.created}}</span>
                                </div>
                                <!-- /.direct-chat-info -->
                                <img class="direct-chat-img"
                                     src="{% thumbnail show_user.profile.picture|default:'default_profile.png' 140x140 crop %}"
                                     alt="Message User Image">
                                <!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    {{data.message}}
                                </div>
                                <!-- /.direct-chat-text -->
                            </div>
                        {% else %}
                        <div class="direct-chat-msg">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-left">{{data.user.name}}</span>
                                <span class="direct-chat-timestamp pull-right">{{data.created}}</span>
                            </div>
                            <!-- /.direct-chat-info -->
                            <img class="direct-chat-img"
                                 src="{% thumbnail show_user.profile.picture|default:'default_profile.png' 140x140 crop %}"
                                 alt="Message User Image">
                            <!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                {{data.message}}
                            </div>
                            <!-- /.direct-chat-text -->
                        </div>
                        {% endif %}

                        {% endfor %}

                    </div>
                </div>
                <div class="box-footer">
                    <form action="{% url 'chat_app:send_message' %}" method="post">
                        <div class="input-group">
                            {% csrf_token %}
                            <input type="hidden" name="id_chanel" value="{{ id_chanel }}">
                            <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                            <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat">Send</button>
                      </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
